/* fonts */
@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-Regular.woff");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    height: 500vh;
}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header start */
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    transition: .3s;

    background-image: linear-gradient(black, transparent);
}

.header-scroll-black{
    background: black !important;
}
/* header end */

/* navbar start */
.navbar{
    position: relative;
    z-index: 100;
    background-color: transparent;
    transition: .3s;
    display: flex;
    padding: .75rem 1rem;

    margin-left: auto;
    justify-content: center;
    align-items: center;

}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
    /* margin-inline: 32px; */
}

.navbar-logo{
    display: flex;
    align-items: center;
}

.navbar-logo img{
    margin-inline: .5rem;
    height: 55px;
}

.nav-city-name{
    margin-left: .75rem;
    margin-right: 43px;
    color: white;
    font-size: 1.125rem;
}

.navbar-text-style{
    padding: .7rem 0;
    position: relative;
    font-size: 1.125rem;
    font-weight: 400;
    transition: .3s;
    color: white;

    &:hover{
        color: #dcc38b;
        fill: #dcc38b;
    }
}

.navbar-ul{
    margin-inline: 43px;
    list-style: none;
    display: inline-flex;
}

.navbar-ul li{
    margin-inline: 12px;
}


.navbar-dropdown{
    font-size: 1.125rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: .3s;
    outline: none;

    &:hover{
        color: #dcc38b;
    }
}

.nav-dropdown-wrapper{
    height: 160px;
    width: 140px;
    background-color: white;
    padding-block: 8px;
    border-radius: 10px;
}

.navbar-dropdown:hover > option{
    background-color: white;
    color: black;
    font-size: 1.125rem;
}

.navbar-dropdown option{
    background-color: white;
    color: black;
    font-size: 1.125rem;
}

.navbar-ul-2-img{
    padding-inline: .75rem;
}

.navbar-text-style svg{
    fill: white;
    transition: .3s;

    &:hover{
        fill: #dcc38b;
    }
}

/* navbar end */



/* section2 start */

.page2{
    padding: 1.25rem 0;
    background-color: #bea087;
    margin-top: -1%;
    padding: .75rem 1rem;
}

.page2 .container{
    padding-inline: 15px;
    /* margin-inline: 32px; */

    position: relative;
}

.page2-content-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icons{
    display: flex;
}

.page2-menu-btn{
    left: 1rem;
    position: absolute;

    display: flex;
    align-items: center;
}

.page2-menu-btn a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #2e2124;;
}

.page2-icons-wrapper ul{
    display: flex;
    justify-content: center;
    list-style: none;

    margin-block: 1em;
    padding-inline: 40px;
}

.page2-icons-wrapper ul li{
    margin-right: 2rem;
}

.page2-icons-wrapper ul li a{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #2e2124;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.page2-icons-wrapper ul li a img{
    width: 2.5rem;
}

/* page2 end */


/* page3 start */

.page3{
    overflow-x: hidden;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
}

.page3 .container{
    padding-inline: 15px;
    margin-inline: 32px;
    /* margin: auto; */

    position: relative;
}

.page3-title{
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.page3-main-wrapper{
    position: relative;
}

.page3-btns-wrapper{
    position: absolute;
    top: 0;
    right: 60px;
}

.page3-swipe-btn1{
    opacity: .5;

    position: absolute;
    right:  5.25rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #c3d2dc;
    cursor: pointer;

    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.page3-swipe-btn2{
    opacity: .5;

    position: absolute;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #c3d2dc;
    cursor: pointer;

    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.page3-swipe-btn1::before{
    content: "<";
}

.page3-swipe-btn2::before{
    content: ">";
}


.page3-products{
    margin-top: 100px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.page3-product-card{
    width: 375px;
    padding: 0 1rem;
    margin-bottom: 2rem;
    text-align: center;
    height: auto;
    min-height: 1px;
}

.p3-card-imgs{
    position: relative;
    margin-bottom: 1.25rem;
    height: 250px;
}

.p3-card-imgs a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.p3-card-imgs img{
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* или contain */
}

.p3-card-new-flag{
    top: 25px;
    left: 35px;
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 10;
    background-color: #2e2124;
}

.p3-card-title{
    color: #2e2124;
    overflow: hidden;
    font-size: 1.525rem;
    font-weight: bold;

    &:hover{
        text-decoration: underline;
    }
}

.p3-card-desc{
    color: #898989;
    height: 2.75rem;
    padding-top: 1.125rem;
    font-weight: 300;
}

.p3-card-price{
    font-size: 1.125rem;
    padding-top: 1.125rem;
}


/* page3 end */


/* page4 start */

.page4 h1:nth-child(1){
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
}

.page4 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.p4-cake {
    text-align: center;
    width: 311px;
}

.p4-cake a{
    color: black;

}

.p4-cake h3{
    font-size: 1.125rem;
    height: 3rem;
    line-height: 1.2;
    overflow: hidden;
    margin-bottom: .5rem;
    font-weight: 100;
    margin-top: 20px;

    &:hover{
        text-decoration: underline;
    }
}

.p4-cake-desk{
    color: #898989;
    height: 2.75rem;
    font-weight: 300;
    overflow-y: scroll;
    margin-bottom: .5rem;
    user-select: none;

    &::-webkit-scrollbar{
        display: none;
    }
}

.p4-cake img {
    width: 311px;
    height: 311px;
    border-radius: 50%;
}

.p4-price {
    font-size: 1.125rem;
}

/* page4 end */

/* page5 start */

.page5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-block: 80px;
}

.page5 h1:nth-child(1){
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
}

.page5 .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.p5-value {
    text-align: center;
    width: 20%;
}

.p5-value h3{
    font-size: 1.125rem;
    margin-bottom: .5rem;
}

.p5-value-desc{
    height: 2.75rem;
    font-weight: 300;
    overflow-y: scroll;
    margin-bottom: .5rem;
    user-select: none;

    &::-webkit-scrollbar{
        display: none;
    }
}

.p5-value p{
    color: #898989;
    max-width: 100%;
}

.p5-value svg {
    margin-bottom: 1.25rem;
}

/* page5 end */

/* page6 start */

.page6{
    padding-bottom: 5rem;
}

.page6 h1:nth-child(1){
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
}

.page6 .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15px;
}

.p6-imgs{
    position: relative;
    margin-left: 27px;
}

.p6-imgs img{
    border-radius: 10px;
    width: 670px;
}

.p6-imgs-btn{
    color: #fff;
    width: 9rem;
    height: 9rem;
    background-color: #dcc38b;
    border: 10px solid #fff;
    font-weight: 500;
    font-size: 1.175rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;

    position: absolute;
    bottom: -3%;
    right: -4.5rem;

    &:hover{
        background-color: #bea087;
    }
}

.p6-text{
    display: flex !important;
    position: relative;
    width: 100%;
    padding-left: 30px;
    flex-direction: column;
}

.p6-text h1:nth-child(1){
    margin-top: 24px;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    margin-left: 60px;
    transform: translateY(37px);
}


.p6-text div{
    margin-top: 1.5rem;
    color: #898989;
    margin-left: 60px;
}

.p6-text div p{
    margin-bottom: 1rem;
    max-width: 90%;
    font-size: 1.125rem;
}

.p6-text div img{
    position: absolute;
    right: 10%;
    margin-top: 5%;
}

/* page6 end */

/* page7 start */

.page7{
    padding-block: 5rem;
    height: 100vh;
    position: relative;
}

.page7 .container{
    padding-inline: 15px;
    margin-inline: 32px;
    margin: auto;

    position: relative;
}

.page7 h1:nth-child(1){
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
    color: black;

    &:hover{
        text-decoration: underline;
    }
}


.page7-btns-wrapper{
    position: absolute;
    top: 0;
    right: 60px;
    margin-top: 5rem;
}

.page7-swipe-btn1{
    opacity: .5;

    position: absolute;
    right:  5.25rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #c3d2dc;
    cursor: pointer;

    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.page7-swipe-btn2{
    opacity: .5;

    position: absolute;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: none;
    color: #fff;
    background-color: #c3d2dc;
    cursor: pointer;

    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.page7-swipe-btn1::before{
    content: "<";
}

.page7-swipe-btn2::before{
    content: ">";
}



.p7-card {
    text-align: left;
    width: 425px;
    margin: 30px !important;
    position: relative;
}

.p7-card a{
    color: black;

}

.p7-card h3{
    height: 4rem;
    line-height: 1.2;
    overflow: hidden;
    margin-bottom: .8rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 20px;

    &:hover{
        text-decoration: underline;
    }
}

.p7-card-desc{
    color: #898989;
    height: 2.75rem;
    font-weight: 300;
    overflow-y: scroll;
    margin-bottom: .5rem;
    user-select: none;

    &::-webkit-scrollbar{
        display: none;
    }
}

.p7-card img {
    width: 425px;
    height: 425px;
    border-radius: 50%;
}

.p7-card button{
    cursor: pointer;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 9rem;
    height: 9rem;
    background-color: #dcc38b;
    border: 10px solid #fff;
    font-weight: 500;
    border-radius: 50%;
    transition: .3s;

    &:hover{
        background-color: #bea087;
    }
}

/* page7 end */





/* footer start */
footer {
    background-color: #2d2525;
    color: white;
    padding: 20px;
    /* text-align: center; */
    margin-top: 80px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.footer-content div {
    margin: 10px;
}

.footer-content h3 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.5rem;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
}

.footer-content li {
    margin-bottom: 5px;
    text-align: left;
    padding-top: 10px;
    transition: .3s;    
    cursor: pointer;

    &:hover{
        color: #dcc38b;
    }
}

.footer-logo img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.contact-info h1 {
    margin: 10px 0;
}

.contact-info{
    position: relative;
}

.social-icons , .app-icons{
    /* position: absolute; */
    text-align: right;
    transform: translateX(10px);
}

.contact-info h3 , .contact-info h1{
    /* position: absolute; */
    /* right: 0; */
    /* transform: translateY(-50px); */
    text-align: right;
}

.social-icons img,
.app-icons img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.social-icons img{
    opacity: .5;
    transition: .3s;

    &:hover{
        opacity: 1;
    }
}

.app-icons img {
    width: 110px;
    height: 40px;
    margin: 10px 5px;
}



.footer-bottom {
    margin-top: 20px;
    width: 100%;
}

.footer-bottom .container{
    position: relative;
}

.footer-bottom .container p:nth-child(1){
    position: absolute;
    left: 0;
}

.footer-bottom .container p:nth-child(2){
    position: absolute;
    right: 0;
}

/* footer end */

/* go-top-btn start */

#go_top{
    position: fixed;
    right: 20px;
    bottom: 90px;
    border-radius: 50%;
    height: 52px;
    width: 52px;
    transition: .3s;
    box-shadow: 0 5px 18px 2px rgba(0, 0, 0, .2);
    opacity: 0;
    z-index: 999;
    border: none;
    background: #2e2124;
    cursor: pointer;
}